﻿@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Kako da pratam lista od modeli *@

<h2>Details</h2>

<h1>@Model.Name</h1>
<h1>@Model.Genre.NameType</h1>
<h1>@Model.ReleaseDate</h1>
<h1>@Model.NumberInStock</h1>





@*@foreach (var customer in Model.Customers)
    {
        @if (customer == Model.)
            {

            }

        <h3>@customer</h3>

    }*@


