﻿@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<button class="btn btn-secondary">
    <a href="~/Movies/New"> New</a>
</button>

@foreach (var movie in Model)
{
<ul>
    <li>
        <h1>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)  </h1>
        <button>
            @Html.ActionLink("Edit", "Edit", "Movies", new { id = movie.Id }, null)
        </button>
        <h3>@movie.Genre.NameType </h3>
    </li>
</ul>

}


