﻿@model Vidly.ViewsModels.MovieFormModelView
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie / Edit Movie !!</h2>



@using (@Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:d MMM yyyy }", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.NumberInStock)
        @Html.TextBoxFor(m => m.Movie.NumberInStock, new { @class = "form-control" })
    </div>
    <div class="form-group ">
        @* samo za ova ja prakjam listata od Genre vo viewModelot/// Model.Genres e Listata vo ViewModelot *@
        @Html.DropDownListFor(m => m.Movie.Genre, new SelectList(Model.Genres, "Id", "NameType"), "Select Genre Type", new { @class = "form-control" })
    </div>
    @*<div class="form-group form-check">
            @Html.CheckBoxFor(m => m.Movie.Genre, new { @class = "form-check-input" }) Subscribed To News Letter ?
        </div>*@

    @Html.HiddenFor(m => m.Movie.Id);
    @Html.HiddenFor(m => m.Movie.DateAdded);  //this puts the DateAdded in a hidden field that will be passed when the form is submitted

    <button type="submit" class="btn btn-primary"> Save</button>
}


