﻿@model Vidly.ViewsModel.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

This is a Comment 

@{
    var className = Model.Customers.Count > 5 ? "popular" : null;
}

<h1 class="@className">@Model.Movie.Name</h1>


@if (Model.Customers.Count == 0)
{
    <text>No ona has rented this movie before.</text>

}
else
{
    <ul>

        @foreach (var customer in Model.Customers)
        {

           <a  href="/Movies/Details/@customer.Id"> <li>@customer.Name</li>       </a> 


        }
    </ul>


}



