﻿@model Vidly.ViewsModels.NewCustomerViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>


@using (@Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.BirthDay)
        @Html.TextBoxFor(m => m.Customer.BirthDay, "{0:d MMM yyyy }" , new { @class = "form-control" })
    </div>
    <div class="form-group ">
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control"})
    </div>
    <div class="form-group form-check">
        @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter, new { @class = "form-check-input" }) Subscribed To News Letter ?
    </div>

    @Html.HiddenFor(m => m.Customer.Id);
    <button type="submit" class="btn btn-primary"> Save</button>
}



