﻿@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h3>@Model.Name</h3>
<h3>@Model.MembershipType.Name</h3>
<h3>@Model.BirthDay</h3>

